@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

p{
    text-align: center;
    font-family: "Roboto Mono";
    color: red;
}
h1{
    text-align: center;
    font-family: "Montserrat",sans-serif;
    font-size: 24px;
    color: #0f51ac;
}

h2{
    margin-bottom: 40px;
    text-align: center;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    color: #0f51ac;
}

form{
    text-align: center;
}

.divs{
    margin-top: 0.8%;
}

#selectCNH{
    outline: none;
    border-radius: 10px;
    border: 1px solid #0f51ac;
    font-family: "Roboto Mono",sans-serif;
}

#state{
    width: 5%;
    outline: none;
    border-radius: 10px;
    border: 1px solid #0f51ac;
    font-family: "Roboto Mono",sans-serif;
    text-align: center;
}

#estc{
    outline: none;
    border-radius: 10px;
    border: 1px solid #0f51ac;
    font-family: "Roboto Mono",sans-serif;
}
#logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    height: 200px;
    width: 200px;
}

label{
    margin-left: 5%;
    font-family: "Roboto Mono",sans-serif;
}

.texts{
    outline: none;
    border-radius: 10px;
    width: 20%;
    border: 1px solid #0f51ac;
    text-align: center;
    font-family: "Montserrat",sans-serif;
}

.textsMin{
    outline: none;
    border-radius: 10px;
    width: 10%;
    border: 1px solid #0f51ac;
    text-align: center;
    font-family: "Montserrat",sans-serif;
}

.textsMin2{
    outline: none;
    border-radius: 10px;
    width: 10%;
    border: 1px solid #0f51ac;
    text-align: center;
    font-family: "Montserrat",sans-serif;
    margin-bottom: 15px;
}

#button{
    outline: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-family: "Montserrat",sans-serif;
    border-radius: 10px;
    border: 1px solid #0f51ac;
    color: #fff;
    background-color: #74b7f1;

}

#button:hover{
    background-color: #41596b;
    transition: 1s linear;
}

.textsObg{
    outline: none;
    border-radius: 10px;
    width: 20%;
    border: 1px solid #ac0f0f;
    text-align: center;
    font-family: "Montserrat",sans-serif;
}

#city{
    width: 10%;
}
